.effect{
    background-color: rgba(104, 46, 5, 0.884);
    color: rgb(66, 182, 228);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}