<div class="color" >
    <div class="container">  
        <div class="row text-center align-items-center  pt-3">
            <div class="col-12 col-md-6 mt-5 mb-5">
                    <img src="https://www.reviewgeek.com/p/uploads/2018/03/81dd2b65.jpg?width=1200" class="img-fluid img-thumbnail" alt="...">
            </div>
            <div class="col-12 col-md-6">
                <div class="font-weight-light pb-3" >
                    
                    <h2 class="pt-3 text-white">Xplore the world of knowlege</h2>
                </div>
                <h4 class="font-weight-light text-white">Don't stop reading habit...</h4>
             </div>   
        </div>
    </div>
</div>