<div class="bkgnd" style="background-color: rgba(104, 46, 5, 0.884) ; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
<div class="container" >
  <div class="row" >
    <div class="col-12 text-center mt-4">
      <h1 class="font-weight-dark text-warning ml-5 mr-5">Log In</h1>
      <div class="text-info">Login with your credentials</div>
    </div>
  </div>
</div>
  
  <div class="container text-center mb-3 pb-5 pt-5">
      <div class="row text-center align-items-center my-3 py-3">
          <div class="col-15 col-md-7 pb-2">
              <div class="imgg" ><h2 class="line text-info">Yeah..! it's your own space of Book World</h2></div> 
          </div> 
    
          <div class="col-10 col-md-3">
            <br>
                <form (ngSubmit)="loginUser()" >
  
                  <div class="mb-3">
                    <!-- <input type="text" class="form-control" id="loginemail" name="uname" [(ngModel)]="user.uname" placeholder="Username" aria-describedby="emailHelp"> -->
                    <input type="text" name="uname" placeholder="Username" [(ngModel)]="user.uname" />
                  </div>
  
                  <br>
  
                  <div class="mb-3">
                    <input type="password" name="password" [(ngModel)]="user.password" placeholder="Password"/>
                  </div>
  
                  <br>
                  <button type="submit" class="btn btn-outline-success">Login</button>
                                        
                  <br>
  
                  <br>
  
                  <label class="error" for="error_message" id="error_message"></label>
                 
  
                </form>
  
              </div>  
          </div>
  </div>  
</div>  